body {
	display: inline-block;
	/* font-family: "Consolas", "Monaco", "Courier New", monospace; */
	counter-reset: line;
	cursor: text;
	/* width:90%; */
	height:350px;
	overflow:scroll;
	padding-left:0;
	margin-left:0;
	z-index:1;
}
div {
	display: block;
    /*counter-increment: line;
	background-color:#FFF;*/
	line-height: 20px;
	text-align:left;
	margin:0px;
	z-index:2;
	outline: none;
	position:relative;
	left:65px;
}
div:before {
	display:block;
    position:absolute;
    right:100%;
    width:2em;
	height:100%;
    border-right: 1px black solid;
    padding-right: 1em;
    padding-left: 0;
    margin-right: 1em;
    content: attr(lineid);
	text-align:right;
    background-color: #eee;
    color: #888 !important;
    font-family: monospace;
    border-right: 1px solid #999;

}
.op-hui {
	    background-color: rgb(255, 198, 198);
}
.ubbser {
	background: rgb(198,255,192);
}
.meta {
	font-family: monospace;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underscore {
	text-decoration: underline;
}

.wipe {
	text-decoration: line-through;
}

div, span {
	white-space: pre;
}
.placeholder {
	display: none;
}
.placeholder:only-child{
	display:block;
}